<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleini.css">
    <link rel="stylesheet" href="css/styleli.css">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actualizarli.js"></script>
    <script src="./js/eliminarli.js"></script>
    <title>Lineas de credito</title>
    <link rel="shortcut icon" href="imagenes/logoi.png">
</head>
<body>
    <body>
        <div >
            <img src="imagenes/logo_large.png">
        </div>
            <ul class="menu">
            <li>
                <a href="/lclientes">Clientes</a>
            </li>
             <li>
                <a href="/lcreditos">Creditos</a>
            </li>
            <li>
                <a href="/llineas">Lineas de credito</a>
            </li>
            <li>
                <a href="/lcuentas">Cuentas</a>
            </li>
            <li>
                <a href="cerrar">Cerrar sesion</a>
            </li>
            <li>
                <a href="/inicio">Inicio</a>
            </li>
            <li>
                <p><%=uss%></p>
            </li>
            </ul>
            <div class="lineas-box">
                <h1>Lineas de credito</h1>
                <form action="/frminsertarli" method="POST">
                    <!--Codigo linea-->
                    <label for="codigo">Codigo Linea</label>
                    <input type="text" name="CodLinea" placeholder="Ingrese codigo">

                    <!--Nombre linea-->
                    <label for="nombre">Nombre Linea</label>
                    <input type="text" name="NomLinea" placeholder="Ingrese nombre">
        
                    <!--monto-->
                    <label for="monto">Monto maximo credito</label>
                    <input type="text" name="MontoMaxCredito" placeholder="Ingrese monto">
                    
                    <!--plazo-->
                    <label for="plazo">Plazo maximo credito</label>
                    <input type="text" name="PlazoMaxCred" placeholder="Ingrese plazo">
         
        
                    <input type="submit" value="Ingresar">
   </form>
            </div>
    </body>
    <form action="" name="frm" id="frm">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo Linea</th>
                    <th>Nombre Linea</th>
                    <th>Monto Maximo Credito</th>
                    <th>Plazo Maximo Credito</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead> 
            <tbody>
                <% datos.forEach(function(datos){%>
                    
                    <tr>
                        <input type="hidden"  value="<%=datos.DocCli%>" name="DocCli" id="doc"       class="doc"  >
                        <td><input type="text"  value="<%=datos.CodLinea%>"              name="CodLinea"          id="codl"       class="codl"  ></td>
                        <td><input type="text"  value="<%=datos.NomLinea%>"              name="NomLinea"          id="noml"       class="noml"  ></td>
                        <td><input type="text"  value="<%=datos.MontoMaxCredito%>"       name="MontoMaxCredito"   id="montm"      class="montm"  ></td>
                        <td><input type="text"  value="<%=datos.PlazoMaxCred%>"          name="PlazoMaxCred"      id="plam"       class="plam"  ></td>
                        
                        <td><input type="submit"  value="actualizar" name="actu" id="actu"   class="actu"   ></td>
                        <td><input type="submit"  value="eliminar "  name="elim" id="elim"   class="elim"   ></td>
                    </tr>            
                <%})%>
            </tbody>    
    
        </table>    
    
     </form>
    
</body>
</html>